# Virtual Environment
myvenv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# VS Code
.vscode/

# React / Node
node_modules/
dist/
build/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db